/* line 1, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.banner {
  background-image: url("/img/aboutpage1.jpeg");
  background-color: rgba(4, 150, 255, 0.9);
  background-size: cover;
  background-position: center; }

/* line 8, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.banner img .logo {
  max-width: 100%;
  height: auto; }

/* line 13, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.banner h1 {
  color: white; }

/* line 17, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.banner h3 {
  color: white; }

/* line 21, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.banner .btn {
  margin-top: 30px;
  margin-bottom: 30px; }

/* line 26, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.notice-text-box {
  margin-left: 15%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.08); }

/* line 32, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.notice {
  padding: 5px;
  font-size: 1.2em; }

/* line 37, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.center-block {
  padding-top: 20%;
  margin: auto; }

/* line 42, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/about.scss */
.servicesPicture {
  width: 90%; }

.main {
  margin: 5% 0;
}

#about {
  padding: 0 2%;
}

#about-img img{

}

#reviews-box {
  background: #f1f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px 15px 10px;
  width: 150%;
  max-width: 300px;
  height: 890px;
  overflow: hidden;
  box-sizing: border-box;
}

#reviews-header {
  border-bottom: 1px solid #d7d7d7;
}

#reviews-icon {
  width: 100%;
  max-width: 259px;
}

#reviews-title {
  background: #3d4549;
  color:#fff;
  margin: 15px -16px;
  padding: 6px 0 4px;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.4em;
}

#reviews-break {
  clear: both;
}

#reviews-contents {
  width: 100%;
  height: 607px;
  background: transparent;
}

#reviews-view-more {
  color: #5486a3;
  font-size: 11px;
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  text-decoration: none;
}

.jumbotron {
  text-align: center;
  margin: 20px 0;
}

.badge {
  display: inline-block;
  margin: 2% 2%;
}

.badge img{
  max-height: 150px;
}

#social-media {
  text-align: center;
}

.instagram {
  font-size: 1.1em;
}
