#quote {
  text-align: center;
}

label {
  font-size: 1.1em;
}

label.small-label{
  font-size: 1em;
  font-weight: normal;
}

#services {
  margin-bottom: 2%;
}

#services-select {
  font-size: 0.9em;
}

#social-media h2 {
  text-align: center;
}

.instagram {
  padding: 0 10%;
  text-align: center;
}

.instagram iframe {
  align-items: center;
}
.twitter {
  padding: 0 10%;
}
