/* line 25, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.banner {
  background-image: url("/img/background-windows-blur.jpg");
  background-color: rgba(4, 150, 255, 0.9);
  background-size: cover;
  background-position: top; }

/* line 32, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.banner img .logo {
  max-width: 100%;
  height: auto; }

/* line 37, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.banner h1 {
  color: white; }

/* line 41, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.banner h3 {
  color: white; }

/* line 45, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.banner .btn {
  margin-top: 30px;
  margin-bottom: 30px; }

/* line 50, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.notice-text-box {
  margin-left: 15%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.08); }

/* line 56, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.notice {
  padding: 5px;
  font-size: 1.2em; }

/* line 61, /Users/specialsause/Projects/bridgecitysqueegee.com/source/css/index.scss */
.center-block {
  padding-top: 20%;
  margin: auto; }
