/* line 1, /Users/calebhailey/Projects/bridgecity/bridgecitysqueegee.com/source/css/windows.scss */
.contact {
  color: black;
  font-size: 18px;
  padding: 10px 0px;
  background-color: #e0e0e0;
  text-align: center;
  line-height: 1.5em; }
