%tail
  // "JQuery + Bootstrap"
  = javascript_include_tag "bootstrap/bootstrap.js"

  // "IE10 viewport hack for Surface/desktop Windows 8 bug"
  // = javascript_include_tag "ie10-viewport-bug-workaround.js"

  // "Google Analytics"
  // = partial "google_analytics"

  // "Auto loader for custom Javascript"
  = auto_javascript_include_tag
