.contactLeft {
  padding: 30px 0;
  margin: 5px 0;
  text-align: center;
};

.contactRight {
  background: rgb(34, 168, 226);
  border: 1px white solid;
  padding: 30px;
  margin: 5px 0;
  text-align: center;

};
