// body {
//   background: url(https://hd.unsplash.com/photo-1444005233317-7fb24f0da789);
//   background-size: cover;
//   background-position: center;
//   font-family: lato;
// }
//
// html {
//   height: 100%;
// }
//
// #content {
//   text-align: center;
//   padding-top: 25%;
//   color: white;
//   text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
//                 0px 8px 13px rgba(0, 0, 0, 0.1),
//                 0px 18px 23px rgba(0, 0, 0, 0.1)  ;
// }
//
// h1 {
//   font-weight: 700;
//   font-size: 5em;
// }
//
h1 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3),
                0px 8px 13px rgba(0, 0, 0, 0.07),
                0px 18px 23px rgba(0, 0, 0, 0.07);
}

h3 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
                0px 8px 13px rgba(0, 0, 0, 0.03),
                0px 18px 23px rgba(0, 0, 0, 0.03);
}

a.btn {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2),
                0px 8px 13px rgba(0, 0, 0, 0.05),
                0px 18px 23px rgba(0, 0, 0, 0.05);
}

hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.white-logo {
  background-image: url(http://www.bridgecitysqueegee.com/img/logo.png);
  background-size: cover;
  background-position: top;
}

.notice-text-box {
  margin-left: 15%;
  width: 70%;
  background-color: rgba(0,0,0,0.4);
}

.notice-background {
  height: 550px;
  background-color: rgba(0, 0, 0, 0.1);
}

#notice {
  height: 90px;
  overflow-y: scroll;
}
