---
title: "Your Portland-area window-cleaning specialists."
---

- content = data[:pages][:contact]
= stylesheet_link_tag "contact"

%div.services.section
  %div.container
    %div.row
      %div.col-xs-12.col-sm-7.contactLeft
        %div
          %p="Check us out on these other services."
          %ul
            %li="**Home Advisor Logo** - Bridge City Squeegee"
            %li="**Instagram Logo** - name"
            %li="**Twitter Logo** - name"
      %div.col-xs-12.col-sm-5.contactRight
        %p="Refer a Friend and Save"
        %button="Save up to $50"

      %div.col-xs-12.col-sm-5.contactRight
        %p="Seasonal Newsletter"
        %button="Sign up for cleaning reminders"
