---
title: "Your Portland-area window-cleaning specialists."
---
- content = data[:pages][:index]

%div.banner{ class: content[:banner][:class] }
  = stylesheet_link_tag "index"
  %div.container
    %h1= content[:banner][:heading]
    %h3= content[:banner][:subheading]
    %div.row
      %div.col-xs-offset-3.col-xs-6.col-sm-offset-4.col-sm-4
        %a.btn{ class: content[:banner][:button][:class] || "btn-default",
                href: content[:banner][:button][:url],
                role: "button" }= content[:banner][:button][:label]
